__pycache__/
*.py[cod]
*$py.class

# *.ipynb
*.pth
*.pt
*.tar
*.out
# *.log
*.txt
.ipynb_checkpoints/*

# Ignore VS Code configuration directory
.vscode/

# Ignore model outputs
outputs/
outputs_refactor/
data/
!chuyende_tamer_temp/data/
!chuyende_tamer_temp/data/CROHME.zip
models/*
!models/README.md
dist/
